{% extends 'base2.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
<div class="contentResult">
    <div class="account-box">
        {% if user_details %}
            <p>First Name: {{ userDetails.first_name }}</p>
            <p>Last Name: {{ userDetails.last_name }}</p>
            <p>Email: {{ userDetails.email }}</p>
            <p>Joined Date: {{ userDetails.created_date }}</p>
            <p>Last Login: {{ userDetails.last_login }}</p>

        {% else %}
            <p>User details not found.</p>
        {% endif %}
    </div>
</div>

<div class="blogs">
    {% if blogs %}
        <ul>
            <h2>Blogs of {{ userDetails.first_name }} {{ userDetails.last_name }}</h2>
            {% for blog in blogs %}
                <li class="id-card">
                    {% if blog.image %}
                        <img src="{{ blog.image.url }}" alt="{{ blog.place_name }}" class="blog-image">
                    {% endif %}
                    <p><strong>Blog by: {{ blog.username }}</strong></p>
                    <p>Blog: {{ blog.blog|truncatechars:10 }}</p>
                    
                    <p><a href="{% url 'blog_view' blog.id %}?next={% url 'user_profile' %}">View Blog</a>
                        <a href="{% url 'delete_image' blog.id %}">Delete</a>

                    </p>

            {% endfor %}
        </ul>
    {% else %}
        <p>No blogs available for this place.</p>
    {% endif %}
</div>
{% endblock %}
