{% extends 'base2.html' %}

{% block title %}{{ blog.place_name }} Blog{% endblock %}

{% block content %}
<div class="id-card">
    <p>State: {{ blog.state_name }}</p>
    <p>Place: {{ blog.place_name }}</p>
    <p>Uploaded by: {{ blog.username }}</p>
    <img src="{{ blog.image.url }}" alt="{{ blog.place_name }}">
    </div>
    <div class="id-card">

        <p>Blog: {{ blog.blog }}</p>
    </div>
    
    {% if blog.username == user.username %}
    <button onclick="document.getElementById('edit-form-{{ blog.id }}').style.display='block'">Edit</button>
    <form id="edit-form-{{ blog.id }}" method="post" action="{% url 'edit_image' blog.id %}" style="display: none;">
        {% csrf_token %}
        <textarea name="blog">{{ blog.blog }}</textarea>
        <button type="submit">Save</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    {% endif %}
    
    <a href="{{ next }}">Back </a>
    <!-- {% if authenticated %}
    <a href="{% url 'delete_image' blog.id %}">Delete</a>
    {% endif %} -->

{% endblock %}
