{% extends 'base2.html' %}

{% block title %}Image and Blog List{% endblock %}

{% block content %}
<div>

    <!-- <ul> -->
        <!-- {% if authenticated %}
        <p>Welcome, {{ user_details.username }}</p>
    
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %} -->
        {% for blogs in blogs %}
            <li class="id-card">
                <p>State: {{ blogs.state_name }}</p>
            <p>Place: {{ blogs.place_name }}</p>
                <p>Uploaded by: {{ blogs.username }}</p>
                <img src="{{ blogs.image.url }}" alt="{{ blogs.place_name }}">
            <p>Blog: {{ blogs.blog|truncatechars:10 }}</p>
        <a href="{% url 'blog_view' blogs.id %}?next={% url 'image_list' %}">View Blog</a>
    {% if blogs.username == user.username %}

                <button onclick="document.getElementById('edit-form-{{ blogs.id }}').style.display='block'">Edit</button>
                    <form id="edit-form-{{ blogs.id }}" method="post" action="{% url 'edit_image' blogs.id %}" style="display: none;">
                        {% csrf_token %}
                    <textarea name="blog">{{ blogs.blog }}</textarea>
                <button type="submit">Save</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    <!-- </ul> -->
    </div>
{% endblock %}
