
{% extends 'base2.html' %}

{% block title %}Blog Details{% endblock %}

{% block content %}
    <div class="blog-details">
        <!-- <h1>{{ blog.place_name }} </h1>
        <h1> Blog by {{ blog.username }}</h1>    -->

        <li class="id-card">
            <img src="{{ blog.image.url }}" alt="{{ blog.place_name }}" class="blog-image">
            <p>Blog : {{ blog.blog }}</p>
            <p>Blog of : {{ blog.place_name }}</p>
            <p>Blog by : {{ blog.username }}</p>
        </li>
        {% if blog.username == user.username %}

        </form>
        </form>
        <button onclick="document.getElementById('edit-form-{{ blog.id }}').style.display='block'">Edit</button>
        <form id="edit-form-{{ blog.id }}" method="post" action="{% url 'edit_image' blog.id %}" style="display: none;">
            {% csrf_token %}
            <textarea name="blog">{{ image.blog }}</textarea>
            <button type="submit">Save</button>
        </form>
        {% endif %}
        <a href="{% url 'explore_place_result' %}">Back to Place Details</a>
    </div>
{% endblock %}
